.search{margin:1rem auto;padding:1%;background:#ebd58b;border-radius:1rem;box-shadow:.2rem.2rem.2rem rgb(1,1,1,.75);width:94%}.buttons{display:flex;margin-left:5%;margin-right:5%}.flex{margin:auto};ion-input{margin:1% auto;width:96%;text-align:left;padding-left:2%;border-radius:.5em}.ion-invalid{border:#ee3333 solid .2rem}ion-note{color:#ee3333}
@media only screen and (min-width:880px){.search{width:50%};}
@media only screen and (min-width:1080px){.search{width:40%};}
@media only screen and (min-width:1280px){.search{width:30%};}

