<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Todos los puzzles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div [hidden]="flag[0]">
    <div class="search">
      <div class="select">
        <select id="numberPice" (change)="getSearchValue()">
          <option value="99999999"> buscar por piezas</option>
          <option value="2500"> entre 2000 y 2500 u</option>
          <option value="2000"> entre 1500 y 2000 u</option>
          <option value="1500"> entre 1000 y 1500 u</option>
          <option value="1000"> enntre 500 y 1000 u</option>
          <option value="500"> hasta 500 u</option>
        </select>
        <select id="pricePice" (change)="getSearchValue()">
          <option value="99999999">  buscar por precio</option>
          <option value="50"> hasta 50 €</option>
          <option value="40"> hasta 40 €</option>
          <option value="30"> hasta 30 €</option>
          <option value="20"> hasta 20 €</option>
          <option value="10"> hasta 10 €</option>
        </select>
      </div>
      <div class="title">
        <ion-input type="text" id="searchTitle" placeholder="buscar el titulo del puzzle..." (keyup)="getSearchValue()"></ion-input>
      </div>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col size="{{ columne }}" *ngFor="let p of puzzles; index as position" (click)="detallPuzzle(position)">
          <div class="march">
              <ion-img class="imatge" [src]="p.filepath"></ion-img>
            <h3>{{ position+(10*npage)+1 }}: {{ p.titulo }}</h3>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-title *ngIf="puzzles.length <= 0">No se han encontrado puzzles</ion-title>
    <br/><br/><br/><br/>
    <div class="pagination">
      <div class="alinear">
        <ion-button class="pagina" *ngFor="let bl of blPages; index as page" [disabled]="bl" (click)="otherPage(page)">{{ page + 1 }}</ion-button>
      </div>
    </div>
  </div>
  <div [hidden]="!flag[0]">
    <ion-card>
      <ion-button (click)="changeState(true, index, -1)"><ion-icon aria-hidden="true" name="play-back-outline"></ion-icon></ion-button>
      <ion-button (click)="setIsMenu(!flag[1])"><ion-icon aria-hidden="true" name="menu-outline"></ion-icon></ion-button>
      <ion-button (click)="changeState(true, index, 1)"><ion-icon aria-hidden="true" name="play-forward-outline"></ion-icon></ion-button>
      <div class="menu" [hidden]="!flag[1]">
        <!--<a href="C:/User/usuario/workstationIonic/puzzlepop/test/src/assets/icon/favicon.png"><ion-button><ion-icon aria-hidden="true" name="download-outline"></ion-icon></ion-button></a>-->
        <ion-button (click)="urlFile(puzzle, 0)"><ion-icon aria-hidden="true" name="download-outline"></ion-icon></ion-button>
        <ion-button (click)="urlFile(puzzle, 2)"><ion-icon aria-hidden name="logo-medium"></ion-icon></ion-button>
        <ion-button (click)="urlFile(puzzle, 3)"><ion-icon aria-hidden ion-icon name="logo-tumblr"></ion-icon></ion-button>
        <ion-button (click)="urlFile(puzzle, 1)"><ion-icon aria-hidden="true" name="logo-whatsapp"></ion-icon></ion-button>
        <ion-button (click)="playPuzzle(index)"><ion-icon aria-hidden="true" name="play-outline"></ion-icon></ion-button>
        <ion-button (click)="changeState(false, index, 0)"><ion-icon aria-hidden="true" color="warning" name="arrow-redo-outline"></ion-icon></ion-button>
      </div>
      <h1>{{ puzzle.titulo }}</h1>
      <div class="detall">
        <ion-img [src]="puzzle.filepath"></ion-img>
      </div>
      <p><em>marca comercial:</em> {{ puzzle.marca }}</p>
      <p><em>categoria temática:</em> {{ puzzle.categoria }} </p>
      <p><em>precio aproximado:</em> {{ puzzle.precio }} €</p>
      <p><em>máximo de piezas:</em> {{ puzzle.piezas }} </p>
      <p><em>propietario:</em> {{ puzzle.propietario }} </p>
    </ion-card>
  </div>
</ion-content>
