<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ 'ALL.TITLE.ALL' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div [hidden]="flag[0]">
    <div class="search">
      <div class="select">
        <select id="numberPice" (change)="getSearchValue()">
          <option value="99999999">{{ 'ALL.SELECT.OPTION1' | translate }}</option>
          <option value="2500">{{ 'ALL.SELECT.OPTION2' | translate }}</option>
          <option value="2000">{{ 'ALL.SELECT.OPTION3' | translate }}</option>
          <option value="1500">{{ 'ALL.SELECT.OPTION4' | translate }}</option>
          <option value="1000">{{ 'ALL.SELECT.OPTION5' | translate }}</option>
          <option value="500">{{ 'ALL.SELECT.OPTION6' | translate }}</option>
        </select>
        <select id="pricePice" (change)="getSearchValue()">
          <option value="99999999">{{ 'ALL.SELECT2.OPTION1' | translate }}</option>
          <option value="50">{{ 'ALL.SELECT2.OPTION2' | translate }}</option>
          <option value="40">{{ 'ALL.SELECT2.OPTION3' | translate }}</option>
          <option value="30">{{ 'ALL.SELECT2.OPTION4' | translate }}</option>
          <option value="20">{{ 'ALL.SELECT2.OPTION5' | translate }}</option>
          <option value="10">{{ 'ALL.SELECT2.OPTION6' | translate }}</option>
        </select>
      </div>
      <div class="title">
        <ion-input type="text" id="searchTitle" placeholder="{{ 'ALL.SHEARCH.TITLE' | translate }}" (keyup)="getSearchValue()"></ion-input>
      </div>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col size="{{ columne }}" *ngFor="let p of puzzles; index as position" (click)="detallPuzzle(position)">
          <div class="march">
              <ion-img class="imatge" [src]="p.filepath"></ion-img>
            <h3>{{ position+(10*npage)+1 }}: {{ p.titulo }}</h3>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-title class="zero" *ngIf="puzzles.length <= 0">{{ 'ALL.ZERO.TITLE' | translate }}</ion-title>
    <br/><br/>
    <div class="pagination">
      <div class="alinear">
        <ion-button class="pagina" *ngFor="let bl of blPages; index as page" [disabled]="bl" (click)="otherPage(page)">{{ page + 1 }}</ion-button>
      </div>
    </div>
    <br/><br/>
  </div>
  <div [hidden]="!flag[0]">
    <ion-card>
      <ion-button (click)="changeState(true, index, -1)"><ion-icon aria-hidden="true" name="play-back-outline"></ion-icon></ion-button>
      <ion-button (click)="setIsMenu(!flag[1])"><ion-icon aria-hidden="true" name="menu-outline"></ion-icon></ion-button>
      <ion-button (click)="changeState(true, index, 1)"><ion-icon aria-hidden="true" name="play-forward-outline"></ion-icon></ion-button>
      <div class="menu" [hidden]="!flag[1]">
        <ion-button (click)="urlFile(puzzle, 0)"><ion-icon aria-hidden="true" name="download-outline"></ion-icon></ion-button>
        <ion-button (click)="urlFile(puzzle, 1)"><ion-icon aria-hidden="true" name="share-outline"></ion-icon></ion-button>
        <ion-button (click)="playPuzzle(index)"><ion-icon aria-hidden="true" name="play-outline"></ion-icon></ion-button>
        <ion-button (click)="changeState(false, index, 0)"><ion-icon aria-hidden="true" color="warning" name="arrow-redo-outline"></ion-icon></ion-button>
      </div>
      <h1>{{ puzzle.titulo }}</h1>
      <div class="detall">
        <ion-img [src]="puzzle.filepath"></ion-img>
      </div>
      <p><em>{{ 'ALL.CARD.PARAF1' | translate }}</em>{{ puzzle.marca }}</p>
      <p><em>{{ 'ALL.CARD.PARAF2' | translate }}</em>{{ puzzle.categoria }} </p>
      <p><em>{{ 'ALL.CARD.PARAF3' | translate }}</em>{{ puzzle.precio }} €</p>
      <p><em>{{ 'ALL.CARD.PARAF4' | translate }}</em>{{ puzzle.piezas }} </p>
      <p><em>{{ 'ALL.CARD.PARAF5' | translate }}</em>{{ puzzle.propietario }} </p>
      <p><em>{{ 'ALL.CARD.PARAF6' | translate }}</em>{{ puzzle.alto }} </p>
      <p><em>{{ 'ALL.CARD.PARAF7' | translate }}</em>{{ puzzle.ancho }} </p>
      <p><em>{{ 'ALL.CARD.PARAF8' | translate }}</em>{{ puzzle.ano }} </p>
      <p><em>{{ 'ALL.CARD.PARAF9' | translate }}</em>{{ puzzle.condicion }} </p>
      <p><em>{{ 'ALL.CARD.PARAF10' | translate }}</em>{{ puzzle.estado }} </p>
      <p><em>{{ 'ALL.CARD.PARAF11' | translate }}</em>{{ puzzle.localizacion }} </p>
    </ion-card>
  </div>
</ion-content>
