
.slash{margin-top:30%}.col{display:flex;margin:auto;width:80%;max-width:27.5rem;height:4rem}.time{background:#e8e8e8;border:#0367b9 solid 0.2rem;width:20%;margin-left:1%;border-radius:5rem}.process{background:#0367b9}h1{color:#0367b9}ion-app{--ion-background-color: var(--ion-color-step-900)}
@media only screen and (min-width:880px){.col{height:5rem}}
