.time{margin:1% auto;padding:.1%;height:35px;width:17.5%;font-size:1.5rem;color:#fefefe;background:#5f5f5f;float:right;}
.header{height:150px;margin:1px auto;padding:.1%;}
@media only screen and (min-width:880px){.time{height:45px;width:12%;font-size:1.75rem}}
@media only screen and (min-width:1180px){.time{height:55px;width:9.5%;font-size:2.05rem}}
@media only screen and (min-width:1380px){.time{height:65px;width:7.5%;font-size:2.5rem}}
