ion-input{margin:2.5% auto;width:96%;text-align:center;font-size:1.5rem;border-radius:1rem;border:#fafafa solid .5rem;color:#fafafa;background:#5573d6}ion-input:hover{color:#fafafa;background:#8b8ceb;border:#8b8ceb solid .5rem;font-size:2.15rem}.exit{float:right;margin-right:2.5rem}#map{display: inline-block;width:92%;height:285px}
@media only screen and (min-width:880px){ion-input{width:50%;margin:2% auto};.exit{margin-right:7rem};#map{width:50%};}
@media only screen and (min-width:1080px){ion-input{width:40%;margin:1.5% auto};.exit{margin-right:23rem};#map{width:40%};}
@media only screen and (min-width:1280px){ion-input{width:30%; margin:.75% auto};.exit{margin-right:37rem};#map{width:30%};}

