<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Nuevo puzle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="search">
    <div class="buttons">
      <ion-buttons class="flex">
        <ion-button (click)="changePage(1)"><ion-icon aria-hidden="true" size="large" name="play-back-outline"></ion-icon></ion-button>
        <ion-button (click)="changePage(3)"><ion-icon aria-hidden="true" size="large" name="play-forward-outline"></ion-icon></ion-button>
        <ion-button (click)="changePage(2)"><ion-icon aria-hidden="true" size="large" color="danger" name="arrow-redo-outline"></ion-icon></ion-button>
      </ion-buttons>
    </div>
    <form [formGroup]="puzzleFrom" (ngSubmit)="addPuzzle()">
      <ion-input fill="solid" type="text" placeholder="entrar marca comercial" formControlName="marca" [ngClass]="{'ion-invalid': !puzzleFrom.controls['marca'].valid}"></ion-input>
      <ion-input fill="solid" type="text" placeholder="entrar titulo del puzzle" formControlName="titulo" [ngClass]="{'ion-invalid': !puzzleFrom.controls['titulo'].valid}"></ion-input>
      <ion-input fill="solid" type="text" placeholder="entrar categoria temática" formControlName="categoria" [ngClass]="{'ion-invalid': !puzzleFrom.controls['categoria'].valid}"></ion-input>
      <ion-input fill="solid" type="number" placeholder="precio aproximado" formControlName="precio" [ngClass]="{'ion-invalid': !puzzleFrom.controls['precio'].valid}"></ion-input>
      <ion-input fill="solid" type="number" placeholder="piezas del puzzle" formControlName="piezas" [ngClass]="{'ion-invalid': !puzzleFrom.controls['piezas'].valid}"></ion-input>
      <ion-input fill="solid" type="text" placeholder="nombre del propietario" formControlName="propietario" [ngClass]="{'ion-invalid': !puzzleFrom.controls['propietario'].valid}"></ion-input>
      <ion-fab horizontal="center" slot="fixed"><ion-fab-button><ion-icon name="camera" (click)="addPhoto()"></ion-icon></ion-fab-button></ion-fab>
      <br/><br/><br/><br/>
      <div class="buttons">
        <div class="flex">
          <ion-button type="submit" [disabled]="!puzzleFrom.valid"><ion-icon size="large" color="success" name="add-circle"></ion-icon></ion-button>
          <ion-button type="button" (click)="changePage(2)"><ion-icon size="large" color="danger" name="close-circle"></ion-icon></ion-button>
        </div>
      </div>
    </form>
  </div>
</ion-content>
